<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 注意：此时的命名空间必须是对应的映射接口的全路径 -->
<mapper namespace="com.yc.wowo.mapper.IMemberInfoMapper">
	<insert id="reg" parameterType="MemberInfo">
		insert into memberinfo values(0, #{nickName}, '', md5(#{pwd}), #{tel}, #{email}, '', now(), 1)
	</insert>
	
	<select id="login" parameterType="map" resultType="MemberInfo">
		select mid, nickName, tel, email from memberinfo where status !=0 and 
			pwd=md5(#{pwd}) and (tel=#{account} or nickName=#{account} or email=#{account})
	</select>
</mapper>